body {
   background-color: aliceblue;
}

header {
   background: blueviolet;
}

nav li {
   display: inline;
}

nav {
   position: absolute;
   top: 110px;
   right: 0;
}

nav a {
   text-transform: uppercase;
   color: black;
   font-weight: bold;
   text-decoration: none;
   font-size: 22px;
   margin: 0 0 10px;
}

.caixa {
   position: relative;
   width: 940px;
   margin: 0 auto;
}

.produtos {
   margin: 0 auto;
   padding: 10px 0%;
   width: 640px;
}

.produtos li {
   display: inline-block;
   text-align: center;
   width: 45%;
   vertical-align: top;
   margin: 0 1.5%;
   padding: 30px 20px;
   box-sizing: border-box;

   /*
   border-color: black;
   border-width: 2px;
   border-style: solid;
   */
   border: 2px solid #000;
   border-radius: 50px;
}

.produtos h2 {
   font-size: 30px;
   font-weight: bold;
}

.produto_preco {
   font-size: 22px;
   font-weight: bold;
}

.produto_descricao {
   font-size: 18px;
}

nav a:hover {
   color: aliceblue;
   text-decoration: underline;
}

.produtos li:active {
   border-color: gray ;
}

.produtos li:hover {
   border-color: purple;
}
